* {
    margin: 0;
    padding: 0;
    font-family: "Mina", serif;
    font-style: normal;
}
    body {
        width: 350px;
        height: 400px;
        background-color: white;
    }
        header {
            text-align: center;
            margin: 1rem auto;
        }

        .file_upload_container {
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border-style: dashed;
            text-align: center;
            cursor: pointer;
        }